body{background-color: gray;}

.heading{font-size: 80px;
    margin-left: 500px;
    margin-right: 200px}

.total{font-size: 20px;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    opacity: 0.5;}

/* .do{box-shadow: 0 0 3px 10px black;} */

.todos{
    box-shadow: 0 0 3px 10px black;
    margin: auto;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
    padding: 60px;
}

.circle{
    color: black;
}

.paragraph {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bin{
    color: black;
}



.text{border: 10px;
box-shadow: 0 0 3px 5px black;
margin-left: 600px;
transform: translateY(200%);}
