body {
    background-image: url(hd-wallpaper-gad757a440_1280.jpg);
    text-align: center;
    font-size: 32px;
    margin-top: 0%;
    padding: 0px;

}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(Bild.jpg);
    height: 500px;
    padding: 0%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-attachment: fixed;
}

u {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding: 8px;
    text-decoration: none;
}

footer {
    background-color: #eaeaea;

    padding: 8px;}



a:hover {
    text-decoration: underline;
    color: white;
}