html,
body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(127, 136, 139);
    text-align: center;
    background: linear-gradient(to bottom right, #06003f 0%, #06003f     100%);
}
.wrapper{   display: inline-block;
    opacity: .5;
    transition: all .3s;}

.active, .wrapper:hover{
    background-color: #ffcc00;
    box-shadow: 0 0 26px 3px #ffcc00;
    border-radius: 10%;
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-around;
}

.stars {
    width: 150px;
}

.active:hover{
    rotate: 360deg;
}

nav {
    margin: 60px;
    margin-bottom: 10px;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

footer p {
    margin-top: 50px;
    font-size: 10px;
    opacity: 0.5;
}
.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 140px;
    background: #00000080;
    margin-left: 50px;
    border-radius: 10%;
}
.chartWrapper .chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background: #ffcc00;
    box-shadow: 0 0 15px 3px #ffcc00;
    border-radius: 10%;
}
.überschrift{color: #ffcc00;
    box-shadow: 0 0 15px 3px #ffcc00;
left: 500px;
right: 500px;
position: absolute;}