body{background-image: url(hd-wallpaper-g24b58479e_1280.jpg);}

#buttons{
    margin:auto;
    width: 500px;
    position: relative;
    top:50%;
    transform: translateY(50%);
    background:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0.8;
}
.fade:hover, .play:hover{opacity: 1;}
.fade, .play{opacity: 0.5;}
#buttonA{
    margin-bottom: 25px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #00ffbb;
    box-shadow: 0 0 100px 3px #00ffbb;
    border: 0px;
    }
#buttonB{
    margin-bottom: 25px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #ff0055;
    box-shadow: 0 0 100px 3px #ff0055;
    border: 0px;
}
#buttonC{
    height: 100px;
    margin-bottom: 25px;
    width: 150px;
    border-radius: 10%;
    background-color: #00ffbb;
    box-shadow: 0 0 100px 3px #00ffbb;
    border: 0px;
}
#buttonD{
    margin-bottom: 25px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #ff0055;
    box-shadow: 0 0 100px 3px #ff0055;
    border: 0px;
}
#buttonE{
    margin-bottom: 25px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #00ffbb;
    box-shadow: 0 0 100px 3px #00ffbb;
    border: 0px;
}
#buttonF{
    margin-bottom: 25px;
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #ff0055;
    box-shadow: 0 0 100px 3px #ff0055;
    border: 0px;
}
#buttonG{
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #00ffbb;
    box-shadow: 0 0 100px 3px #00ffbb;
    border: 0px;
}
#buttonH{
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #ff0055;
    box-shadow: 0 0 100px 3px #ff0055;
    border: 0px;
}
#buttonI{
    height: 100px;
    width: 150px;
    border-radius: 10%;
    background-color: #00ffbb;
    box-shadow: 0 0 100px 3px #00ffbb;
    border: 0px;
}

.play{
    height: 150px;
    position: relative;
    margin: auto;
    display: flex;
    transform: translateY(120%);
}